.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: -15px;
  // }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
      margin: 15px;
    }
  }

  &__bg {
    @include align-center(flex, center, center);

    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background: #f5f4fa;
    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;

    @include font-style(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--secondary-title-color);

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__description {
    @include font-style(400, 14px, 1.71, 0.03em);
    color: var(--primary-text-color);
  }
}
