.secondary-title {
  margin-bottom: 30px;

  @include font-style(700, 28px, 1.17, 0.03em);
  text-align: center;
  color: var(--secondary-title-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    @include font-style(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--secondary-title-color);
  }
}
